In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
TrainingData_2F_Norm = pd.read_csv('/home/kaline/workspace/mestrado/ML/Dados_Normalizados_2Features/TrainingData_2F_Norm.txt')
TrainingData_2F_Norm

     ID  total.sulfur.dioxide  citric.acid  Class
0    T1                 0.638        0.559      0
1    T2                 0.795        0.441      0
2    T3                 0.409        0.603      0
3    T4                 0.539        0.000      0
4    T5                 0.236        0.515      0
5    T6                 0.071        0.559      0
6    T7                 0.102        0.882      0
7    T8                 0.071        0.882      0
8    T9                 0.173        0.382      0
9   T10                 0.488        0.956      0
10  T11                 0.165        0.029      0
11  T12                 0.402        0.324      0
12  T13                 0.748        0.471      0
13  T14                 0.268        0.721      0
14  T15                 0.016        0.029      0
15  T16                 0.197        0.118      0
16  T17                 0.654        0.294      0
17  T18                 0.000        0.059      0
18  T19                 0.244        0.221      0
19  T20                 0.220        0.206      0
20  T21                 0.134        0.588      0
21  T22                 0.339        0.515      0
22  T23                 0.307        0.574      1
23  T24                 0.425        0.000      1
24  T25                 0.150        0.353      1
25  T26                 0.197        0.691      1
26  T27                 0.126        0.015      1
27  T28                 0.024        0.706      1
28  T29                 0.031        0.721      1
29  T30                 0.126        0.721      1
30  T31                 0.425        0.368      1
31  T32                 0.268        1.000      1
32  T33                 0.260        0.074      1
33  T34                 0.331        0.471      1
34  T35                 0.063        0.618      1
35  T36                 0.543        0.721      1
36  T37                 0.480        0.338      1
37  T38                 0.354        0.809      1
38  T39                 0.071        0.338      1
39  T40                 0.094        0.103      1
40  T41                 0.055        0.662      1
41  T42                 0.409        0.088      1
42  T43                 1.000        0.412      1
43  T44                 0.244        0.721      1

In [4]:
TestingData_2F_Norm = pd.read_csv('/home/kaline/workspace/mestrado/ML/Dados_Normalizados_2Features/TestingData_2F_Norm.txt')
TestingData_2F_Norm

   ID  total.sulfur.dioxide  citric.acid  Class
0  N1                 0.134        0.000      0
1  N2                 0.496        0.441      0
2  N3                 0.031        0.735      1
3  N4                 0.181        1.000      1

In [12]:
TrainingData_11F_Norm = pd.read_csv('Dados_Normalizados_11Features/TrainingData_11F_Norm.txt')
TrainingData_11F_Norm

,ID,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,Class
T1,0.449,0.278,0.559,0.015,0.985,\t0.489,0.638,0.769,0.293,0.150,0.000,0.0,NaN
T2,0.168,0.685,0.441,0.455,0.220,\t0.34,0.795,0.769,0.493,0.490,0.266,0.0,NaN
T3,0.439,0.222,0.603,0.121,0.333,\t0.149,0.409,0.673,0.373,0.052,0.156,0.0,NaN
T4,0.131,0.741,0.000,0.424,0.409,\t1,0.539,0.406,0.360,0.020,0.156,0.0,NaN
T5,0.168,0.352,0.515,0.015,0.371,\t0.255,0.236,0.459,0.547,0.085,0.109,0.0,NaN
T6,0.318,0.537,0.559,0.000,0.432,\t0.021,0.071,0.516,0.360,0.065,0.141,0.0,NaN
T7,0.28,0.093,0.882,0.227,0.492,\t0.128,0.102,0.682,0.613,0.170,0.328,0.0,NaN
T8,0.505,0.241,0.882,0.106,0.856,\t0.064,0.071,0.714,0.147,0.418,0.141,0.0,NaN
T9,0.234,0.481,0.382,0.061,0.174,\t0.106,0.173,0.510,0.613,0.144,0.172,0.0,NaN
T10,1,0.241,0.956,0.909,0.432,\t0.383,0.488,0.612,0.067,0.275,1.000,0.0,NaN
T11,0.159,0.741,0.029,0.061,0.295,\t0.298,0.165,0.563,0.627,0.216,0.203,0.0,NaN
T12,0.215,0.667,0.324,0.045,0.326,\t0.83,0.402,0.346,0.227,0.000,0.109,0.0,NaN
T13,0.196,0.852,0.471,0.106,0.227,\t0.66,0.748,0.482,0.533,0.059,0.156,0.0,NaN
T14,0.673,0.352,0.721,0.470,0.258,\t0.319,0.268,0.633,0.120,0.124,0.156,0.0,NaN
T15,0.112,0.630,0.029,0.045,0.212,\t0,0.016,0.551,0.707,0.170,0.156,0.0,NaN
T16,0.14,0.463,0.118,0.091,0.189,\t0.298,0.197,0.400,0.533,0.144,0.187,0.0,NaN
T17,0.215,1.000,0.294,1.000,0.447,\t0.553,0.654,0.747,0.360,0.105,0.109,0.0,NaN
T18,0.234,0.796,0.059,0.015,0.000,\t0\t0,0.469,0.627,0.033,0.141,0.000,NaN,NaN
T19,0.159,0.593,0.221,0.106,0.280,\t0.319,0.244,0.459,0.640,0.111,0.250,0.0,NaN
T20,0.178,0.426,0.206,0.197,0.280,\t0.234,0.220,0.473,0.573,0.046,0.344,0.0,NaN
T21,0.449,0.111,0.588,0.212,0.447,\t0.128,0.134,0.918,0.733,0.320,0.187,0.0,NaN
T22,0.262,0.722,0.515,0.197,0.356,\t0.511,0.339,0.551,0.507,0.131,0.359,0.0,NaN
T23,0.28,0.185,0.574,0.152,0.265,\t0.532,0.307,0.376,0.520,0.301,0.609,1.0,NaN
T24,0,0.204,0.000,0.045,0.083,\t0.489,0.425,0.000,1.000,0.242,0.859,1.0,NaN
T25,0.215,0.593,0.353,0.076,0.295,\t0.128,0.150,0.684,0.693,0.235,0.156,1.0,NaN
T26,0.551,0.352,0.691,0.174,0.348,\t0.106,0.197,0.588,0.413,0.229,0.562,1.0,NaN
T27,0.15,0.519,0.015,0.091,0.265,\t0.106,0.126,0.429,0.533,0.092,0.156,1.0,NaN
T28,0.29,0.093,0.706,0.091,0.409,\t0.043,0.024,0.253,0.440,0.131,0.609,1.0,NaN
T29,0.467,0.111,0.721,0.167,0.152,\t0.021,0.031,0.612,0.160,0.209,0.312,1.0,NaN
T30,0.355,0.556,0.721,0.061,1.000,\t0.043,0.126,0.602,0.453,0.124,0.141,1.0,NaN
T31,0.234,0.370,0.368,0.167,0.258,\t0.532,0.425,0.464,0.587,0.105,0.312,1.0,NaN
T32,0.794.\t0.343,1.000,0.212,0.348,0.277,\t0.268,1.000,0.173,0.248,0.234,1.000,NaN,NaN
T33,0.206,0.722,0.074,0.061,0.220,\t0.426,0.260,0.459,0.653,0.098,0.469,1.0,NaN
T34,0.308,0.259,0.471,0.045,0.205,\t0.468,0.331,0.302,0.600,0.196,0.516,1.0,NaN
T35,0.28,0.000,0.618,0.061,0.227,\t0.106,0.063,0.220,0.373,0.078,0.594,1.0,NaN
T36,0.505,0.204,0.721,0.258,0.295,\t0.34,0.543,0.776,0.347,0.183,0.234,1.0,NaN
T37,0.084,0.648,0.338,0.152,0.038,\t0.255,0.480,0.196,0.707,0.150,0.625,1.0,NaN
T38,0.486,0.333,0.809,0.258,0.280,\t0.383,0.354,0.816,0.293,0.307,0.219,1.0,NaN
T39,0.458,0.407,0.338,0.061,0.326,\t0.128,0.071,0.627,0.387,0.150,0.125,1.0,NaN
T40,0.168,0.852,0.103,0.152,0.394,\t0.234,0.094,0.420,0.600,0.118,0.438,1.0,NaN
T41,0.346,0.370,0.662,0.061,0.098,\t0.043,0.055,0.327,0.560,0.183,0.625,1.0,NaN
T42,0.252,0.583,0.088,0.379,0.364,\t0.489,0.409,0.500,0.573,0.163,0.344,1.0,NaN
T43,0.318,0.481,0.412,0.061,0.538,\t0.34,1.000,0.571,0.000,1.000,0.219,1.0,NaN
T44,0.505,0.148,0.721,0.106,0.182,\t0.298,0.244,0.612,0.280,0.059,0.203,1.0,NaN

In [7]:
TestingData_11F_Norm = pd.read_csv('Dados_Normalizados_11Features/TestingData_11F_Norm.txt')
TestingData_11F_Norm

,ID,fixed.acidity,volatile.acidity,citric.acid,residual.sugar,chlorides,free.sulfur.dioxide,total.sulfur.dioxide,density,pH,sulphates,alcohol,Class
0,N1,0.075,0.500,0.000,-0.015,0.136,0.234,0.134,0.294,0.573,0.020,0.156,0
1,N2,0.187,0.333,0.441,0.091,0.333,0.660,0.496,0.551,0.680,0.065,0.141,0
2,N3,0.458,0.278,0.735,0.136,0.492,0.043,0.031,0.493,0.387,0.150,0.484,1
3,N4,0.243,0.463,1.000,0.030,2.848,0.213,0.181,0.506,0.213,0.418,0.094,1

In [10]:
TrainingData_2F_Original = pd.read_csv('Dados_Originais_2Features/TrainingData_2F_Original.txt')
TrainingData_2F_Original

     ID  total.sulfur.dioxide  citric.acid  class
0    T1                  90.0         0.38      0
1    T2                 110.0         0.30      0
2    T3                  61.0         0.41      0
3    T4                  77.5         0.00      0
4    T5                  39.0         0.35      0
5    T6                  18.0         0.38      0
6    T7                  22.0         0.60      0
7    T8                  18.0         0.60      0
8    T9                  31.0         0.26      0
9   T10                  71.0         0.65      0
10  T11                  30.0         0.02      0
11  T12                  60.0         0.22      0
12  T13                 104.0         0.32      0
13  T14                  43.0         0.49      0
14  T15                  11.0         0.02      0
15  T16                  34.0         0.08      0
16  T17                  92.0         0.20      0
17  T18                   9.0         0.04      0
18  T19                  40.0         0.15      0
19  T20                  37.0         0.14      0
20  T21                  26.0         0.40      0
21  T22                  52.0         0.35      0
22  T23                  48.0         0.39      1
23  T24                  63.0         0.00      1
24  T25                  28.0         0.24      1
25  T26                  34.0         0.47      1
26  T27                  25.0         0.01      1
27  T28                  12.0         0.48      1
28  T29                  13.0         0.49      1
29  T30                  25.0         0.49      1
30  T31                  63.0         0.25      1
31  T32                  43.0         0.68      1
32  T33                  42.0         0.05      1
33  T34                  51.0         0.32      1
34  T35                  17.0         0.42      1
35  T36                  78.0         0.49      1
36  T37                  70.0         0.23      1
37  T38                  54.0         0.55      1
38  T39                  18.0         0.23      1
39  T40                  21.0         0.07      1
40  T41                  16.0         0.45      1
41  T42                  61.0         0.06      1
42  T43                 136.0         0.28      1
43  T44                  40.0         0.49      1

In [11]:
TestingData_2F_Original = pd.read_csv('Dados_Originais_2Features/TestingData_2F_Original.txt')
TestingData_2F_Original

   ID  total.sulfur.dioxide  citric.acid  class
0  N1                    26         0.00      0
1  N2                    72         0.30      0
2  N3                    13         0.50      1
3  N4                    32         0.68      1